*{
    padding: 0;
    margin: 0;
}

.navbar{
    width:18vw;
    height:100%;
    position: fixed;
    background-color: #A0DB8E;
    display: flex;
    flex-direction: column ;
    padding: 1rem;
}

.navbar .links{
    list-style: none;
    margin-top: 6rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 40vh;
}

.navbar .links .link{
    background-color: aliceblue;
    border-radius: 1rem;
    width:15vw;
    padding: 1rem;
    margin-bottom: 2rem;
    font-size: 1.1rem;
}

.navbar .links .link a{
    text-decoration: none;
    color:black
}
.navbar .links .link:hover{
    background-color:rgb(205, 212, 218) ;
    cursor: pointer;
}

.navbar .links .link:first-child {
    background-color: rgb(205, 212, 218);
    border-radius: 1rem;
    width: 15vw;
    padding: 1rem;
    margin-bottom: 2rem;
    font-size: 1.1rem;
}
