/* utilities */
 main{ 

    background-image: url('../images/leaf.jfif');
    background-repeat: no-repeat;
    background-size: cover;
 }
img {
    height: 100%;
}

.form-input {
    border-radius: 5px;
    outline: none;
    border: 1px solid green;
    width: 100%;
    height: 40px;
    padding: 5px;
    margin-left: 10px;
    font-size: 22px;
}

.form-title {
    text-align: center;
    margin-bottom: 60px;
}

.product-form {
    width: 100%;
}

.form-container {
    display: flex;
    gap: 60px;
    padding-left: 30px;
}

.form-container .product-form-info-div {
    order: 2;
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
}

.product-form-info-div .img-wrapper {
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
}

.product-form-info-div > textarea {
    width: 100%;
    padding: 5px;
    border-radius: 5px;
    font-size: 22px;
}

.form-container .product-form-category-div {
    order: 1;
}