*{
    padding: 0;
    margin: 0;
}

.navbar{
    width:18vw;
    height:100%;
    position: fixed;
    background-color: #A0DB8E;
    display: flex;
    flex-direction: column ;
    padding: 1rem;
}

.navbar .links{
    list-style: none;
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    align-content: center;
}