/* Common */
*{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flex{
    display: flex;
}

.row{
    justify-content: row;
}

.column{
    justify-content: column;
}

.space-between{
    justify-content: space-between;
}

/* Header */
header{
    background-color: #a0db8e;
    height: 90px;
    width: 100%;
}

.continue{
    padding: 10px;
    background-color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.whitecart{
    height: 40px;
    cursor: pointer;
    width: 40px;
}

h1{
    color: white;
}

.header-container{
    padding: 22px 50px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.shopping-cart{
    display: flex;
    flex-direction: row;
    gap: 30px;
}

/* Products */
.image img{
    height: 150px;
    width: 170px;
    object-fit: cover;
    border-radius: 5px;
}

img{
    width: 100%;

}

.trash-icon{
    height: 20px;
    width: 20px;
}

.products-container{
    width: 100vw;
    padding: 7%;
}

.right-part-container{
    display: flex;
    align-items: center;
    gap: 40px;
}

.right-part{
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
}

.left-part{
    display: flex;
    align-items: center;
    gap: 30px;
}

.spacing{
    gap: 300px;
}

h3{
    font-size: 27px;
}

.times{
    height: 15px;
}

.counter{
    background-color: #a0db8e;
    border: none;
    width: 50px;
    border-radius: 5px;
    height: 25px;
}

.spacing-two{
    gap: 400px;
}

.info{
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-direction: column;
}

.big-container{
    width: 100%;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.product{
    display: flex;
    justify-content: space-between;
}