.titles{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid lightgray;
    padding: 30px;
    font-weight: bold;
}

.fav-product{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

@media screen and (max-width: 500px){
    .cartimg{
        height: 20px;
    }
}