.product-img{
    height: 300px;
    width: 450px;
    border-radius: 10px;
    margin: 50px;
    object-fit: cover;
}

.icon-text-gap{
    gap: 150px;
    margin-top: 60px;
}

.icon-gap{
    gap: 20px;
}
    
.size{
    border: #A0DB8E solid 2px;
    background-color: white;
    font-size: 20px;
    border-radius: 5px;
    padding: 5px 15px;
    cursor: pointer;
}

.text-gap{
    gap: 35px;
}

.green{
    color: #A0DB8E;
}

.select{
    margin-top: 30px;
}

.add{
    background-color: #A0DB8E;
    border-radius: 5px;
    border: none;
    font-size: 15px;
    color: white;
    padding: 10px;
    text-transform: uppercase;
    font-weight: bold;
    margin-left: auto;
    margin-right: -170px;
    cursor: pointer;
}

.arrow{
    border-right: 2px solid;
    border-top: 2px solid ;
    width: 10px;
    height: 10px;
    transform: rotate(45deg);
    margin: 3px;
}

.seller{
    cursor: pointer;
}

.seller:hover{
    cursor: pointer;
    color:#A0DB8E;
    text-decoration: underline;
}

.views{
    font-size: 12px;
    padding-left: 2px;
}

.wishlist{
    margin-left: 3px;
}

.eye{
    cursor: default;
    height: 22px; 
    width: 22px;
}

@media screen and (max-width: 500px) {
    .product-img{
        height: 200px;
        width: 435px;
        margin: 25px;
    }

    h1{
        font-size: 20px;
    }

    .mobile-column{
        flex-direction: column;
        display: flex;
    }

    .mini-container{
        margin: 30px;
    }

    h2{
        font-size: 15px;
    }

    .text-gap{
        gap: 20px;
    }

    .size{
        font-size: 10px;
        padding: 5px 10px;
    }

    .add{
        font-size: 10px;
        padding: 10px;
        margin-right: -160px;
    }

    p{
        font-size: 15px;
    }

    .right-side{
        height: 20px;
        width: 20px;
    }

    .arrow{
        width: 7px;
        height: 7px;
        margin: 5px;
    }

    .views{
        font-size: 10px;
        padding: 0;
        margin-left: -2px;
    }

    .eye{
        height: 13px; 
        width: 13px;
    }
    
    .wishlist{
        margin-left: 1px;
    }
    
}
