* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    list-style: none;
    text-decoration: none;
}



/* start utilities */
:root {
    --admin-main-color: #1b4659;
    --admin-bg-color: #ecf0f5;
    --navbar-width: 150px;
}

body {
    background-color: var(--admin-bg-color);
}

.view-none {
    display: none;
}

.view-hidden {
    display: hidden;
}

.btn {
    height: 40px;
    border-radius: 5px;
    font-size: 24px;
    cursor: pointer;
    padding: 5px;
    border: none;
    font-weight: 700;
}

.btn-logout {
    display: block;
    margin: auto;
    color: var(--admin-main-color);
    background-color: var(--admin-bg-color);
    margin-top: 20px;
}

.btn-logout:hover {
    background-color: white;
}

.btn-logout:active {
    background-color: #f2f2f2;
}

.btn-add {
    font-size: 20px;
    color: white;
    background-color: #9BA0CD;
}

.hamburger-menu {
    display: none;
    width: 40px;
    height: 30px;
    margin: auto 0;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
}

.hamburger-menu:hover .hamburger-item{
    background-color: white;
}

.hamburger-menu:active .hamburger-item{
    background-color: #ccc;
}

.hamburger-menu .hamburger-item {
    width: 100%;
    height: 5px;
    background-color: var(--admin-bg-color);
    border-radius: 5px;
}
/* end utilities */



/* start styling header */
.header-container {
    height: 100px;
    display: flex;
    background-color: var(--admin-main-color);
    padding-left: 30px;
}

.header-title-container {
    width: 100%;
    display: block;
    margin: auto 0;
}

.header-title-container .header-title {
    color: white;
    font-size: 36px;
    font-weight: 700;
}
/* end styling header */



/* start styling main */
.main-container {
    width: 100%;
    height: calc(100% - 100px); /*100px refers to header container*/
    background-color: var(--admin-bg-color);
    display: flex;
    position: relative;
}

.main-container .navbar {
    width: var(--navbar-width);
    height: 100%;
    background-color: var(--admin-main-color);
    position: absolute;/* for toggle purposes*/
    top: 0;
    left: 0;
    z-index: 9999;/* it will be -1 when toggled*/
}

.navbar .navbar-links {
    color: var(--admin-bg-color);
    font-size: 24px;
    text-align: center;
}

.navbar .navbar-links > li {
    /* padding: 10px 0; */
    /* margin: 10px 0; */
    padding: 20px 0;
    cursor: pointer;
}

.navbar .navbar-links > li:hover {
    text-decoration: underline;text-decoration-color: gold;
    text-underline-offset: 5px;
    color: white;
    background-color: #79949f;
    
}

.navbar .navbar-links > li:active {
    color: #ccc;
}



.main-sub-container {
    width: 100%;
    margin-left: calc(var(--navbar-width) + 10px);
    padding-top: 10px;
    font-size: 20px;
}

.main-content-wrapper {
    background-color: white;
    padding: 10px;
}

 /* in case we want to add button other than +Add */
/* .main-action-btn-wrapper {
    display: flex;
    justify-content: space-between;
} */

.main-title {
    text-align: center;
}

.table-wrapper {
    width: 100%;
    margin: 30px 0;
}

.table-wrapper table {
    margin: 0 auto;
    border: 1px solid #9BA0CD;
    border-collapse: collapse;
}

.table-wrapper table tr:nth-child(odd) {
    background-color: white;
}

.table-wrapper table tr:nth-child(even) {
    background-color: #f2f2f2;
}

.table-wrapper table tr th {
    background-color: #32C99C;
    color: white;
    padding: 5px;
    font-size: 20px;
}

.table-wrapper table tr td{
    padding: 5px;
    font-size: 20px;
}

.table-wrapper table tr td .btn-wrapper > button {
    min-width: 50px;
    height: 30px;
    font-size: 16px;
    background-color: transparent;
    border: 1px solid #ccc;
}

.table-wrapper table tr td {
    text-overflow: ellipsis;
}

.table-wrapper table tr td input {
    min-width: 100px;
    max-width: 150px;
    text-overflow: ellipsis;
}

.table-wrapper table tr td input:disabled {
    border: none;
    background-color: transparent;
    color: black;
    font-size: 20px;
}


/* end styling main */



/* media queries */
@media only screen and (max-width: 1000px) {
    
    .table-wrapper table tr th {
        font-size: 16px;
    }
    
    .table-wrapper table tr td{
        font-size: 16px;
    }
    
    .table-wrapper table tr td .btn-wrapper > button {
        height: 30px;
        font-size: 12px;
    }
    
    .table-wrapper table tr td {
        text-overflow: ellipsis;
    }
    
    .table-wrapper table tr td input {
        max-width: 100px;
    }
    .table-wrapper table tr td input:disabled {
        font-size: 16px;
    }
    
    
    /* end styling main */
    
}

@media only screen and (max-width: 780px) {
    /* start styling header */
    .header-container {
        height: 80px;
        padding-left: 10px;
    }

    .header-title-container .header-title {
        font-size: 24px;
        text-align: center;
    }

    .hamburger-menu {
        display: flex;
    }
    /* end styling header */



    /* start styling main */
    .main-title {
        font-size: 16px;
    }

    .main-container {
        width: 100%;
        height: calc(100% - 80px); /*80px refers to new width of header container*/
    }

    .main-container .navbar {
        z-index: -1;/* it will be -1 when toggled*/
    }
    /* will be used in js on navbar */
    .navbar.navbar-toggle {
        z-index: 9999 !important;
    }
    .main-sub-container {
        margin-left: 10px;
    }

    .table-wrapper table tr th {
        font-size: 14px;
    }
    
    .table-wrapper table tr td{
        font-size: 14px;
    }
    
    .table-wrapper table tr td .btn-wrapper > button {
        height: 30px;
        font-size: 10px;
    }
    
    .table-wrapper table tr td {
        text-overflow: ellipsis;
        width: 50px !important;
    }
    
    .table-wrapper table tr td input {
        max-width: 50px;
        width: 50px !important;
        font-size: 10px;
    }
    
    .table-wrapper table tr td input:disabled {
        font-size: 14px;
    }
    /* end styling main */
}

@media only screen and (max-width: 780px) {
    /* start styling header */
    .header-container {
        height: 60px;
        padding-left: 10px;
    }

    .header-title-container .header-title {
        font-size: 18px;
    }

    /* end styling header */



    /* start styling main */
    .main-title {
        font-size: 16px;
    }

    .main-container {
        width: 100%;
        height: calc(100% - 60px); /*80px refers to new width of header container*/
    }

    .main-container .navbar {
        z-index: -1;/* it will be -1 when toggled*/
    }
    /* will be used in js on navbar */
    .navbar.navbar-toggle {
        z-index: 9999 !important;
    }

    .main-sub-container {
        margin-left: 0px;
    }

    .table-wrapper table tr th {
        font-size: 14px;
    }
    
    .table-wrapper table tr td{
        font-size: 14px;
    }
    
    .table-wrapper table tr td .btn-wrapper > button {
        height: 30px;
        font-size: 10px;
    }
    
    .table-wrapper table tr td {
        text-overflow: ellipsis;
        width: 50px !important;
        min-width: none;
    }
    
    .table-wrapper table tr td input {
        max-width: 50px;
        width: 50px !important;
        font-size: 10px;
        min-width: auto;
    }
    
    .table-wrapper table tr td input:disabled {
        font-size: 14px;
    }
    /* end styling main */
}